body{
    font-family: 'Montserrat', sans-serif;
    color:white;

}

a{
    color:white;
    text-decoration: none;
}

header{
    position: fixed;
    right:0;
    top:0;
    background: #000;
    width: calc(100vw - 200px);
    z-index: 10;
    text-align: right;
    height: 100px;
    border:1px solid cyan;
}
header > div{
    line-height: 100px;
}

.btn-upgrade{
    color:white;
    border:1px solid white;
    background: none;
    border-radius: 20px;
    padding: 10px 30px;
}

main{
    display: flex;
}

aside{
    display: flex;
    background: #000;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 105px);
    border:1px solid red;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
}

.spotify-logo img{
    width: 80%;
}

.top-nav{
    margin-top: 20px;
}

.top-nav > div{
    display: flex;
    align-items: center;
    margin-top:10px;
}

.top-nav img{
    height: 30px;
    margin-right: 5px;
}

/* PLAYLIST */

.playlist-container{
    overflow-y: auto;
}

.playlist-create{
    display: flex;
    align-items: center;
}

.playlist-head{
    margin-top:30px;
    margin-bottom: 10px;
}

.playlist-create i{
    font-size: 40px;
}

.btn-playlist-create{
    background:none; 
    border:none;
    color:white;
    margin-right:10px;
}

.playlist-create a{
    font-weight: 500;
}

nav.playlist-list ul{
    list-style-type: none;
}

nav.playlist-list li{
    margin-top:20px;
}

.user-section{
    display: flex;
    flex-direction: column;
    margin-top:auto;
    padding-bottom: 5px;

}

.user-section img{
    width: 16px;
    margin-right: 10px;
}

.user-section-top{
    display: flex;
    align-items: center;
}

.user-section hr{
    margin:10px 0;
}



.album-section{
    background: #141922;
    height: calc(100vh - 205px);
    width: calc(100vw - 200px);
    overflow-y: auto;
    margin-top:100px;
}





/* FOOTER */
footer{
    height: 105px;
    background: #282828;
    border:1px solid yellow;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}

.footer-left img{
    height: 50px;
    margin-right: 10px;
}

.footer-left{
    display: flex;
    align-items: center;
}

.song-favorite{
    margin-left:40px;
}

.song-favorite i{
    margin:0 5px;
}


.footer-center-top{
    margin-bottom:20px;
    text-align: center;
}

.footer-center-top i{
    margin:0 10px;
}

.footer-center-bottom input[type="range"]{
  appearance:none;
  height: 10px;
  width: 400px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  border-radius:20px;
  transition: opacity .2s;
}

.footer-center-bottom input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: darkgray;
    cursor: pointer;
    border-radius:100%
}



.footer-right i{
    margin:0 5px;
}

.footer-right input[type="range"]{
    appearance:none;
    height: 10px;
    width: 120px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    border-radius:20px;
    transition: opacity .2s;
  }
  
  .footer-right input[type="range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: darkgray;
      cursor: pointer;
      border-radius:100%
  }