body{
    font-family: 'Montserrat', sans-serif;
    color:white;

}

a{
    color:grey;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button:hover{
    cursor: pointer;
}

.white-text{
    color:white;
}

.grey-text{
    color:grey;
}

header{
    position: fixed;
    right:0;
    top:0;
    background: #000;
    width: calc(100vw - 200px);
    z-index: 10;
    text-align: right;
    height: 100px;
}
header > div{
    line-height: 100px;
}

.btn-upgrade{
    color:white;
    border:1px solid white;
    background: none;
    border-radius: 20px;
    padding: 10px 30px;
}

main{
    display: flex;
}

aside{
    display: flex;
    background: #000;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 105px);
    padding-top: 30px;
    padding-right: 15px;
    font-size: 12px;
}

aside > *:not(.top-nav), aside .top-nav > *:not(.home) {
    padding-left: 15px;
}

.home{
    padding-left:12px;
    border-left:3px solid #adff2f;
}

.spotify-logo img{
    width: 80%;
}

.top-nav{
    margin-top: 20px;
}

.top-nav > div{
    display: flex;
    align-items: center;
    margin-top:10px;
}

.top-nav img{
    height: 30px;
    margin-right: 5px;
}


/* PLAYLIST */
.playlist-container{
    overflow-y: auto;
}

.playlist-create{
    display: flex;
    align-items: center;
}

.playlist-head{
    margin-top:30px;
    margin-bottom: 10px;
}

.playlist-create i{
    font-size: 40px;
}

.btn-playlist-create{
    background:none; 
    border:none;
    color:white;
    margin-right:10px;
}

.playlist-create a{
    font-weight: 500;
}

nav.playlist-list ul{
    list-style-type: none;
}

nav.playlist-list li{
    margin-top:20px;
}

.user-section{
    display: flex;
    flex-direction: column;
    margin-top:auto;
    padding-bottom: 5px;

}

.user-section img{
    width: 16px;
    margin-right: 10px;
}

.user-section-top{
    display: flex;
    align-items: center;
}

.user-section hr{
    margin:10px 0;
    border-color:grey;
}


/* ALBUM SECTION */
.album-section{
    background: #141922;
    height: calc(100vh - 105px);
    width: calc(100vw - 200px);
    overflow-y: auto;
    padding-top:110px;
    padding-left:30px;
}

.album-section-nav{
    margin-bottom: 45px;
}

.album-section-nav ul li:first-child::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 45px;
    background:#adff2f;
    bottom:0;
    left:50%;
    transform: translate(-50%,0);

}

.album-section-nav ul li:first-child{
    position: relative;
    padding-bottom: 7px;
}

.album-section-nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    

}

.row{
    text-align: center;
    gap:20px;
    
}

.col-lg-2{
    border:1px solid white;
    flex-basis: calc(100% / 12 * 2 - 20px);
    max-width: calc(100% / 12 * 2 - 20px)
}

.recently-played{
    margin-bottom: 30px;
}

.recently-played-list{
    margin-top:30px;
}

.album-section img{
    width: 100%;
}

.album-name{
    margin:10px 0;
}

.made-for-you{
    margin-bottom: 30px;
}

.made-for-you p,.popular-artist p{
    margin:15px 0 30px 0;
}

.circle-img{
    border-radius: 100%;
}

.subtitle{
    font-size: 13px;
    font-weight: 500;
}


/* FOOTER */
footer{
    height: 105px;
    background: #282828;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}

.footer-left img{
    height: 50px;
    margin-right: 10px;
}

.footer-left{
    display: flex;
    align-items: center;
}

.song-favorite{
    margin-left:40px;
}

.song-favorite i{
    margin:0 5px;
}


.footer-center-top{
    margin-bottom:20px;
    text-align: center;
    font-size: 18px;
}

.footer-center-top i{
    margin:0 10px;
}

.footer-center-top i:nth-child(3){
    font-size: 23px;
}

.footer-center-top i:nth-child(3):hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer-center-bottom input[type="range"]{
  appearance:none;
  height: 5px;
  width: 400px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  border-radius:20px;
  transition: opacity .2s;
}

.footer-center-bottom input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: darkgray;
    cursor: pointer;
    border-radius:100%
}

.footer-center-bottom input[type="range"]::-webkit-slider-thumb:hover{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: darkgray;
    cursor: pointer;
    border-radius:100%
}



.footer-right i{
    margin:0 5px;
}

.footer-right input[type="range"]{
    appearance:none;
    height: 7px;
    width: 120px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    border-radius:20px;
    transition: opacity .2s;
  }
  
  .footer-right input[type="range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      background: darkgray;
      cursor: pointer;
      border-radius:100%
  }